@model WebApplication2.Models.LocationTree

@{
    ViewData["Title"] = "Assign Tree to Location";
}

<h3>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="Store">
            <h5>Select a tree and a location and press assign.</h5>
            <hr/>
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label>Locations:</label>
                <select asp-for="LocationId" asp-items="Model.listLocations" class="form-control"></select>
                <span asp-validation-for="LocationId" class="text-danger"></span>
            </div>

            <div class="form-group">
                <label>Trees:</label>
                <select asp-for="TreeId" asp-items="Model.listTrees" class="form-control"></select>
                <span asp-validation-for="TreeId" class="text-danger"></span>
            </div>
            
                <button type="submit" class="btn btn-primary">Assign</button>
            <br/>
        </form>
    </div>
</div>

<div>
    <a asp-controller="Location" asp-action="Index">Back to Locations</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}