@model WebApplication2.Models.Sensor

@{
    ViewData["Title"] = "Create new sensor";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Store">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="WoodArt" class="control-label"></label>
                <input asp-for="WoodArt" class="form-control" />
                <span asp-validation-for="WoodArt" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="SensorId" class="control-label"></label>
                <input asp-for="SensorId" class="form-control" />
                <span asp-validation-for="SensorId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpsCoordinateLat" class="control-label"></label>
                <input asp-for="GpsCoordinateLat" class="form-control" />
                <span asp-validation-for="GpsCoordinateLat" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GpsCoordinateLon" class="control-label"></label>
                <input asp-for="GpsCoordinateLon" class="form-control" />
                <span asp-validation-for="GpsCoordinateLon" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
