@model WebApplication2.Models.Location

@{
    ViewData["Title"] = "Create new location";
}

<h1>@ViewData["Title"]</h1>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Store">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Name" class="control-label"></label>
                <input asp-for="Name" class="form-control" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoadName" class="control-label"></label>
                <input asp-for="RoadName" class="form-control" />
                <span asp-validation-for="RoadName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RoadNumber" class="control-label"></label>
                <input asp-for="RoadNumber" class="form-control" />
                <span asp-validation-for="RoadNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PostNumber" class="control-label"></label>
                <input asp-for="PostNumber" class="form-control" />
                <span asp-validation-for="PostNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="City" class="control-label"></label>
                <input asp-for="City" class="form-control" />
                <span asp-validation-for="City" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
